body {
    background-color: #D9DCD6;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

#gridContainer {
    display: grid;
    /*
    grid-template-areas:
    "logo header header header header header header"
    "sidebar maincontent maincontent maincontent maincontent maincontent maincontent"
    "sidebar maincontent maincontent maincontent maincontent maincontent maincontent"
    "sidebar maincontent maincontent maincontent maincontent maincontent maincontent";
    */  
    grid-template-columns: 10vw 90vw;
    grid-template-rows: 20vh 80vh;
    grid-gap: 0px;  
    height: 100vh;
    width: 100vw;
  }
  
  #gridContainer img {
    width: 180px;
    height: 180px;
    padding: -0px;
    margin: -0px;
  }
  
  #logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F6690;
    grid-column: 1;
    grid-row: 1;
  }

#header {
    background-color: #2F6690;
    display: flex;
    grid-column: 2;
    grid-row: 1;
    justify-content: left;
    align-items: center;
    height: 100%;
    font-size: 100px;
    color: white;
}

#sidebar {
    background-color: #3A7CA5;
    grid-column: 1;
    grid-row: 2;
}

#maincontent {
    background-color: #D9DCD6;
    grid-column: 2;
    grid-row: 2;
}

.registrerForm {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-family: sans-serif;
}
.registrerForm img {
    width: 350px;
    height: 350px;
}
  
.registrerForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.registrerForm label {
    font-size: 18px;
    margin-right: 10px;
}
  
.registrerForm input[type="text"],
.registrerForm input[type="password"] {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}

.registrerForm input[type="text"]:focus,
.registrerForm input[type="password"]:focus {
    border-bottom: 2px solid #2F6690;
}
  
.registrerForm button {
    padding: 10px;
    background-color: #2F6690;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
  
.registrerForm button:hover {
    background-color: #3A7CA5;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}


/*
position: absolute;
width: 295px;
height: 299px;
left: 569px;
top: 68px;
background-color: #2F6690;

position: absolute;
    width: 809px;
    height: 853px;
    left: 315px;
    top: 54px;
    background: #2F6690;

position: absolute;
width: 76.45px;
height: 1439.5px;
left: 1439.5px;
top: 947.96px;
background: #3A7CA5;
transform: rotate(89.99deg);

position: absolute;
width: 208px;
height: 53px;
left: 612px;
top: 367px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
color: #FFFFFF;
*/