<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bestillinger</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div id="gridContainer">
        <div id="logo"><a href="/"><img src="Fiksesuppe.png"></a></div>
        <div id="header">Fiksesuppe</div>
        <div id="sidebar">c</div>
        <div id="maincontent">
            
        </div>
    </div>

    {{#each devices}}
        <td>{{this.device_id}}</td>
        <td>{{this.device_name}}</td>
        <td>{{this.device_status}}</td>
        <td>{{this.description}}</td>
    {{/each}}
</body>
</html>